body {
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    background-color: black;
    color: white;
    user-select: none;
}

#board {
    margin: 0 auto;
    user-select: none;
}

#selector {
    display: block;
    text-align: center;
    justify-content: center;
    margin: auto;
    width: 600px
}

#selector button {
    margin: 10px;
    font-weight: bold;
    font-size: large;
    display: inline-block;
    max-height: 30px;
    grid-template-columns: 1fr 1fr 1fr;/**/
}

/*.btn-group button {
    display: flex;
    margin: 90px; /* Adjust spacing between buttons */
    /* Add other styling properties as needed 
}*/
