body {
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    background-color: black;
    color: white;
    user-select: none;
}

#board {
    margin: 0 auto;
    user-select: none;
}

#selector {
    display: block;
    text-align: center;
    justify-content: center;
    margin: auto;
    width: 600px
}

#selector button {
    margin: 10px;
    cursor: pointer;
    border: solid 1px #333; /* Slightly darker border for contrast */
    border-radius: 5px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 1rem; /* More scalable than 'large' */
    padding: 10px 20px; /* Adds space around the text */
    display: inline-block;
    max-height: 40px; /* More room for the text */
    transition: background-color 0.3s ease, transform 0.2s ease; /* Smooth hover transition */
}

#selector button:hover {
    transform: scale(1.05);
    opacity: 0.7;
}

/*.btn-group button {
    display: flex;
    margin: 90px; /* Adjust spacing between buttons */
    /* Add other styling properties as needed 
}*/
